[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=PuzzleGame15
Comment=Simple Hello World application
Exec=/usr/bin/puzzle-game.run
Icon=/home/jon28/PROJ28v2/learncpp/ch21/ch21y_Project_Puzzle-Game/cat.png
Terminal=true
Type=Application
Categories=Utility
StartupWMClass=PuzzleGame15